<section id="footer">
    <div class="inner">
        <h2 class="major">Nous contacter</h2>
        <p>Si vous êtes interessé par les actions du club ou si vous souhaitez participer aux sorties organisées, n'hesitez pas à nous constacter</p>
        <form method="post" action="#">
            <div class="field">
                <label for="name">Nom</label>
                <input type="text" name="name" id="name" />
            </div>
            <div class="field">
                <label for="email">Email</label>
                <input type="email" name="email" id="email" />
            </div>
            <div class="field">
                <label for="message">Message</label>
                <textarea name="message" id="message" rows="4"></textarea>
            </div>
            <ul class="actions">
                <li><input type="submit" value="Envoyer" /></li>
            </ul>
        </form>
        <ul class="contact">
            <li class="fa-home">
                Chez Philippe BONNET<br />
                31 rue Alexis Chadourne<br />
                46000 Cahors
            </li>
            <li class="fa-phone">05 65 35 11 85 </li>
            <li class="fa-envelope"><a href="#">bureau chez speleo-quercy.fr</a></li>
            <!--<li class="fa-twitter"><a href="#">twitter.com/untitled-tld</a></li>-->
            <!--<li class="fa-facebook"><a href="#">facebook.com/untitled-tld</a></li>-->
            <!--<li class="fa-instagram"><a href="#">instagram.com/untitled-tld</a></li>-->
        </ul>
        <ul class="copyright">
            <li>&copy; GSQ 2021. Tous droits réservés.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
        </ul>
    </div>
</section>
