<section id="footer">
    <div class="inner">
        <h2 class="major">Nous contacter</h2>
        <p>Si vous êtes interessé par les actions du club ou si vous souhaitez participer aux sorties organisées, n'hesitez pas à nous constacter.</p>
        <ul class="contact">
            <li class="fa-envelope"><a href="#">fabricefichet chez gmail.com</a></li>
        </ul>
        <ul class="copyright">
            <li>&copy; GSQ 2022. Tous droits réservés.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
        </ul>
    </div>
</section>
